<!-- Listings view -->
<div class="p-5">
    <div class="alert alert-success" role="alert" ng-show="alertVisible">Dataset imported successfully</div>
    <div class="alert alert-success" role="alert" ng-show="dumpAlertVisible">Dataset exported successfully</div>
    <div class="alert alert-danger" role="alert" ng-show="importError">Dataset import failed</div>
    <div class="alert alert-danger" role="alert" ng-show="exportError">Dataset export failed</div>
    <div class="alert alert-danger" role="alert" ng-show="loadError">Error while loading the require data ! Please check you request response !</div>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active': platforms.length > 0 }"><a ui-sref="index.list({ item: 'platform' })">Platforms</a></li>
        <li role="presentation" ng-class="{'active': categories.length > 0 }"><a ui-sref="index.list({ item: 'category' })">Categories</a></li>
        <li role="presentation" ng-class="{'active': treeDiagram === true }"><a ui-sref="index.list({ item: 'tree-diagram' })">Tree diagram</a></li>
        <li class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-warning" ng-click="export()">Dump Data</button>
                <button type="button" class="btn btn-success" ng-click="import()">Import Data</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="addPlatform()">Add Platform</button>
            </div>
        </li>
    </ul>

    <!-- Platform listings -->
    <table st-safe-src="platforms" st-table="displayCollection" class="table table-striped table-bordered" st-set-filter="strictFilter" ng-if="platforms.length > 0" st-filtered-collection>

        <h4 ng-if="platforms.length > 0">{{ itemCount }} Platforms </h4>

        <thead>
            <tr>
                <th st-sort="_id">ID</th>
                <th st-sort="_source.name">Name</th>
                <!--
                <th>Description</th>
                -->
                <th st-sort="_source.inactif">Inactif</th>
                <th st-sort="_source.non_pertinent">Non-pertinent</th>
                <th st-sort="_source.status">Status</th>
                <th>Cluster</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                    <input st-search="_id" placeholder="Search for Id" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <input st-search="_source.name" placeholder="Search by Name" class="input-sm form-control" type="search" />
                </th>
                <th>
                    <select st-search="_source.inactif">
                        <option value="">All</option>
                        <option ng-repeat="row in platforms | unique:'inactif'" value="{{ row._source.inactif }}">{{ row._source.inactif }}</option>
                    </select>
                </th>
                <th>
                    <select st-search="_source.non_pertinent">
                        <option value="">All</option>
                        <option ng-repeat="row in platforms | unique:'non_pertinent'" value="{{ row._source.non_pertinent }}">{{ row._source.non_pertinent }}</option>
                    </select>
                </th>
                <th>
                    <select st-search="_source.status">
                        <option value="">All</option>
                        <option ng-repeat="row in platforms | unique:'status'" value="{{ row._source.status }}">{{ row._source.status }}</option>
                    </select>
                </th>
                <th>
                    <select st-search="_source.cluster">
                        <option value="">All</option>
                        <option ng-repeat="row in platforms | unique:'cluster'" value="{{ row._source.cluster }}">{{ row._source.cluster | clusterText }}</option>
                    </select>
                    <!--<input st-search="_source.cluster" placeholder="search for Id" class="input-sm form-control" type="search" />-->
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="platform in displayCollection">
                <td>
                    <span>{{ platform._id | number }}</span>
                </td>
                <td style="width:30%">
                    <span><a href="{{ platform._source.platform_website }}" target="_blank">{{ platform._source.name }}</a></span>
                </td>
                <!--
                <td>
                    <span>{{ platform._source.description }}</span>
                </td>
                -->
                <td>
                    <span>{{ platform._source.inactif | booleanTransform }}</span>
                </td>
                <td>
                    <span>{{ platform._source.non_pertinent | booleanTransform }}</span>
                </td>
                <td>
                    <span>{{ platform._source.status }}</span>
                </td>
                <td>
                    <span>{{ platform._source.cluster | clusterText }}</span>
                </td>
                <td>
                    <a ui-sref="index.form({ id: platform._id })" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    
    <!-- Category listings -->
    <table st-table="categories" class="table table-striped table-bordered category-table" ng-if="categories.length > 0">
        <h4 ng-if="categories.length > 0">{{ categories.length }} Categories</h4>
        <thead>
            <tr>
                <th st-sort="_id">ID</th>
                <th st-sort="_source.category">Category ID</th>
                <th st-sort="_source.cat_name">Category name</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories">
                <td>
                    <span>{{ category._id }}</span>
                </td>
                <td>
                    <span>{{ category._source.category }}</span>
                </td>
                <td>
                    <span>{{ category._source.cat_name }}</span>
                </td>
                <td>
                    <span class="tag" ng-repeat="(key, value) in category._source.tags">{{ value }}</span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="row" ng-if="treeDiagram === true">
        <div id="tree-diagram" tree-diagram></div>
    </div>
</div>