<div id="session-view">
	<div class="col-md-12">
		<h1>Sessions</h1>
		<div class="sessions-wrapper" ng-repeat="session in sessions">
			<h2>{{ session._id }}</h2>
			<div class="quadrant-wrapper">
				<div ng-repeat="activity in session._source.data">
					<h3>{{ activity.label.default.title }}</h3>
					<div class="activities-wrapper">
						<div ng-repeat="data in activity.activities">
							<div class="selected-card">
								<h4>{{ data.label.default.title }}</h4>
								<div ng-repeat="card in data.label.default.cards.default" ng-class="{'selected': card.is_selected}">
									<div>{{ card.title }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>