<div id="session-view">
	<div class="col-md-12">
		<h1>Sessions</h1>
		<div class="sessions-wrapper" ng-repeat="session in sessions">
			<h2>{{ session._id }}</h2>
			<div class="quadrant-wrapper">
				<div ng-repeat="item in session._source.data">
					<h3>{{ item.activity }}</h3>
					<div class="activities-wrapper">
						<div ng-repeat="data in item.data">
							<div class="selected-card">
								<h4>{{ data.label }}</h4>
								<span><i class="icon flx-{{ data.icon }}"></i> {{ data.title }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>