.modal {
    background: rgba(0, 0, 0, .75);
}

.attributes-form {
    h3 {
        margin-top: 0;
        padding-left: 15px;
    }
}

#csactivity-view {
    padding: 2rem 4rem;
    h1 {
        margin-bottom: 4rem;
        padding-bottom: 1rem;

        border-bottom: 2px solid #888;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: bold;

        margin-top: 0;
        margin-bottom: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;

        text-align: center;
        text-transform: uppercase;

        color: #e8f7f9;
        a {
            color: #fff;
        }
        .expand {
            font-size: 1.5rem;

            position: absolute;
            top: 0;
            right: 0;

            padding: 1rem;

            cursor: pointer;
        }
    }
    h3 {
        font-size: 1.5rem;
        font-weight: bold;

        margin-top: 0;
        padding-bottom: 5px;

        text-transform: capitalize;

        border-bottom: 1px dashed;
        span {
            font-size: 1.5rem;
            font-style: italic;

            display: block;

            padding-top: 5px;
        }
    }
    h4 {
        font-size: 1.75rem;

        margin-top: 0;
        padding-bottom: 5px;

        text-align: center;
        text-transform: uppercase;
    }

    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 1.45rem;

        margin-top: 0;
        padding-bottom: 5px;

        text-transform: capitalize;

        border-bottom: 1px dashed;
    }
    .process-column {
        margin-bottom: 4rem;
        padding-right: 0;
        padding-left: 0;

        border-right: 5px solid #fff;
         > .btn-group {
            margin-bottom: 2rem;
        }
        &.visibility {
            display: none;
        }

        &.col-md-12,
        &.col-md-3 {
            transition: all 200ms;
        }

        .activity-wrapper {
            position: relative;
        }

        .process-detail {
            position: relative;

            clear: both;

            padding-bottom: 5px;

            color: #fff;
            background: #2da5b6;
            h2 {
                padding-top: 10px;
                padding-bottom: 10px;

                background: #53c4d4;
            }
            .icon-wrapper {
                margin: 1rem;
                padding: 1rem;

                border: 1px solid;
                border-radius: 3px;
                 > span {
                    font-size: 1.75rem;

                    display: inline-flex;
                     > i {
                        padding-right: 1rem;
                    }
                }
            }

            .label-wrapper {
                margin: 1rem;
                padding: 1rem;

                border: 1px solid #fff;
                border-radius: 3px;
            }
            .editable-click,
            a.editable-click {
                color: #fff;
                border-bottom: 0;
            }
            .editable-input.editable-has-buttons {
                min-width: 35em;
            }
        }

        .process-tree {
            position: relative;

            background: #e0cc8a;
            .editable-click,
            a.editable-click {
                color: #555;
                border-bottom: 0;
            }
            .editable-input.editable-has-buttons {
                min-width: 35em;
            }
            .add-activity-btn {
                position: absolute;
                top: 0;
                right: 0;

                padding: 10px;

                cursor: pointer;
            }

            .cards-wrapper {
                position: relative;

                margin-top: 1rem;
                padding: 1rem;

                border: 1px solid #d9c16f;
                border-radius: 3px;
                background: #e0cd8a;
                h5 {
                    margin-top: 0;

                    text-align: center;
                }
                .card-question {
                    position: relative;

                    margin-top: 1rem;
                    padding: 5px;

                    color: #fff;
                    border-radius: 3px;
                    background: #25373d;
                     > span {
                        position: absolute;
                        top: 5px;
                        right: 5px;

                        cursor: pointer;
                    }
                    .editable-click,
                    a.editable-click {
                        color: #fff;
                    }
                }
                .add-card-btn {
                    position: absolute;
                    top: 0;
                    right: 0;

                    padding: 10px;

                    cursor: pointer;
                }
            }
            .activity-seperator {
                border-bottom: 5px solid #fff;
            }
            .label-wrapper {
                position: relative;

                margin: 1rem;
                margin-bottom: 1rem;
                padding: 1rem;

                border: 1px solid #d6bb61;
                border-radius: 3px;
                background: #ebdeb2;
            }
        }
    }
}
