#session-view {
    .sessions-wrapper {
        margin-bottom: 2rem;

        color: #444;
        border-radius: 3px;
        background: #e0cc8a;
        h2 {
            font-size: 2rem;

            padding: 1rem;

            color: #fff;
            border-radius: 3px 3px 0 0;
            background: #ceaf47;
        }
        h3 {
            font-size: 1.75rem;
        }
        h4 {
            font-size: 1.5rem;
        }
    }

    .quadrant-wrapper {
        display: flex;

        padding: 2rem;
        .activities-wrapper {
            padding: 1rem;
        }
         > div {
            width: 25%;
            margin-right: 1rem;

            color: #fff;
            background: #25373d;
            box-shadow: 0 0 35px rgba(0, 0, 0, .25);
            h3 {
                margin: 0;
                padding: 1rem;

                background: #53c4d4;
            }
        }
        .selected-card {
            margin-bottom: 1rem;

            border: 1px solid rgba(255, 255, 255, .45);
            border-radius: 3px;
            h4 {
                margin: 1rem;
                padding-bottom: 5px;

                text-align: center;

                border-bottom: 1px solid;
            }
            > div {
                margin: 1rem;
                padding: 1rem;

                border: 1px solid;
                border-radius: 3px;
                background: #aaa;
                &.selected {
                    background: #2da5b6;
                }
            }
        }
    }
}
