/**
 * importer.scss
 *
 * By default, new Sails projects are configured to compile this file
 * from SASS to CSS.  Unlike CSS files, SASS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The SASS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent SASS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url('https://fonts.googleapis.com/css?family=Lato');

@import 'plugins/bootstrap.min.css';
// @import 'plugins/bootstrap-theme.min.css';

/**
 * Bower modules CSS
 */
@import '../bower_components/angular-xeditable/dist/css/xeditable.css';
@import '../bower_components/angularjs-toaster/toaster.min.css';
@import '../bower_components/angular-loading-bar/src/loading-bar.css';

/**
 * Vendors modules CSS
 */
@import '../js/vendors/treant-js/Treant.css';

/**
 * Color variables
 */
$fc-blue: #2da5b6;
$fc-orange: #ef7921;
$fc-dark-blue: #2e3e49;

html {
    height: 100%;
}

body {
    background: #fff;
}

html,
body {
    font-family: 'Lato', sans-serif;
}

label {
    color: #888;
}

#loading-bar .bar {
    background: #ed6a20;
}

#toast-container > div {
    box-shadow: none;
}

header.masthead {
    margin-bottom: 5em;
}

.category-table .tag {
    margin-right: 5px;
    padding: 5px;

    color: #fff;
    border-radius: 2px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.nav-tabs {
    margin-bottom: 5rem;
}

.navbar {
    height: 75px;
    margin-bottom: 0;

    border-radius: 0;
    background-color: $fc-dark-blue;
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .13), 1px 0 0 0 #cfd6d9;
    .container,
    .navbar-brand {
        position: relative;

        height: 75px;
        padding: 0;
        img {
            width: 40%;
            padding: 5px;
        }
    }
}

#tree-diagram > .node > p {
    margin: 0 0 10px;
    padding: 5px;

    color: #fff;
    border-radius: 2px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.plaform-edit {
    h1 {
        margin-top: 0;
        padding-bottom: 1em;
    }
    .edit-form {
        margin-bottom: 4em;
        padding: 4em;

        border: 1px solid #eee;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .15);
        fieldset {
            margin-bottom: 2em;
            legend {
                font-weight: bold;

                color: $fc-orange;
            }
        }
        h2 {
            font-size: 1.5em;

            padding-bottom: 10px;
            padding-left: 15px;

            color: $fc-blue;
        }
        .platform-img {
            margin-top: 2em;

            border: 1px solid #efefef;
            img {
                width: 100%;
            }
        }
        .scrapping-container {
            margin-bottom: 2em;
            padding: 2em;

            border: 1px solid #ddd;
            border-radius: 3px;
            background: #efefef;
            .scrapped-data {
                > dl {
                    overflow-y: scroll;

                    height: 400px;
                    margin: 4em 3em 1em 3em;
                    padding: 2em;

                    color: #fff;
                    border-radius: 3px;
                    background: #2da5b6;
                    dd {
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }
}

/**
 * Footer stylings
 */
footer {
    position: absolute;

    width: 100%;
    height: 4em;
    padding-top: 2rem;

    background: #e7eaef;
}