<!-- Navigation -->
<header>
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img ng-src="images/logo.png">
        </a>
    </div>
</header>

<aside>
    <ul>
        <li ui-sref-active="active"><a ui-sref="index.list({ item: 'platform' })">Platforms</a></li>
        <li ui-sref-active="active"><a ui-sref="index.list({ item: 'category' })">Categories</a></li>
        <li ui-sref-active="active"><a ui-sref="index.csprocess">CS Process</a></li>
        <li ui-sref-active="active"><a ui-sref="index.csactivity">CS Activities</a></li>
        <li ui-sref-active="active"><a ui-sref="index.list({ item: 'clusters' })">Clusters</a></li>
        <li ui-sref-active="active"><a ui-sref="index.cluster">Charts</a></li>
    </ul>
</aside>

<!-- Main content -->
<section id="main">
    <toaster-container></toaster-container>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 order-1" ui-view></div>
        </div>
    </div>
</section>

<!-- Footer 
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Flexcrowd 2017</p>
    </div>
</footer>
-->