<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Set Attributes</h3>
</div>
<div class="modal-body row attributes-form" id="modal-body">
    <form style="padding: 2rem;">
    	<fieldset class="scheduler-border">
            <div class="row">
                <h3>Process</h3>
                <div class="form-group col-md-6">
                    <label>Aggregation of Contributions Type</label>
                    <select class="form-control" name="process" ng-model="cardAttributes.cs_initiatives.process.aggregation_of_contributions">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.process[0]._source.aggregation_of_contributions" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Peer Contributions Accessibility Type</label>
                    <select class="form-control" name="process" ng-model="cardAttributes.cs_initiatives.process.peer_contributions_accessibility">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.process[3]._source.peer_contributions_accessibility" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Remuneration for contributions Type</label>
                    <select class="form-control" name="process" ng-model="cardAttributes.cs_initiatives.process.remuneration_for_contributions">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.process[2]._source.remuneration_for_contributions" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Preselection of Contributors Type</label>
                    <select class="form-control" name="process" ng-model="cardAttributes.cs_initiatives.process.preselection_of_contributors">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.process[1]._source.preselection_of_contributors" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Form of remuneration</label>
                    <select class="form-control" name="process" ng-model="cardAttributes.cs_initiatives.process.form_of_remuneration">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.process[4]._source.form_of_remuneration" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <!-- END::process -->

        <fieldset class="scheduler-border">
            <!-- Goals -->
            <div class="row">
                <h3>Goals</h3>
                <div class="form-group col-md-6">
                    <label>Main beneficiary</label>
                    <select class="form-control" name="goal" ng-model="cardAttributes.cs_initiatives.goal.main_beneficiary">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.goal[1]._source.main_beneficiary" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Value type</label>
                    <select class="form-control" name="goal" ng-model="cardAttributes.cs_initiatives.goal.value_type">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.goal[2]._source.value_type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Tolerance of inputs</label>
                    <select class="form-control" name="goal" ng-model="cardAttributes.cs_initiatives.goal.input_tolerance">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.goal[0]._source.input_tolerance" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
            </div>
            <!-- END::Goals -->
            <hr>
            <!-- Tasks -->
            <div class="row">
                <h3>Tasks</h3>
                <div class="form-group col-md-6">
                    <label>Task Type</label>
                    <select class="form-control" name="task" ng-model="cardAttributes.cs_initiatives.task.type">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.task[1]._source.type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Task Dependency</label>
                    <select class="form-control" name="task" ng-model="cardAttributes.cs_initiatives.task.dependencies">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.task[3]._source.dependencies" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <!-- Other attributes -->
                <div class="form-group col-md-6">
                    <label>Task Novelty</label>
                    <select class="form-control" name="task" ng-model="cardAttributes.cs_initiatives.task.novelty">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.task[0]._source.novelty" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Task Effectiveness</label>
                    <select class="form-control" name="task" ng-model="cardAttributes.cs_initiatives.task.effectiveness">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.task[2]._source.effectiveness" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <!-- END::Other attributes -->
            </div>
            <!-- END::Tasks -->
            <hr>
            <!-- Crowd -->
            <div class="row">
                <h3>Crowd</h3>
                <div class="form-group col-md-6">
                    <label>Contribution Type</label>
                    <select class="form-control" name="crowd" ng-model="cardAttributes.cs_initiatives.crowd.contribution_type">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.crowd[0]._source.contribution_type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Main motivational Driver</label>
                    <select class="form-control" name="crowd" ng-model="cardAttributes.cs_initiatives.crowd.main_motivational_driver">
                        <option>--</option>
                        <option ng-repeat="attribute in attributes.crowd[1]._source.main_motivational_driver" value="{{ attribute.id }}">{{ attribute.description }}</option>
                    </select>
                </div>
            </div>
            <!-- END::Crowd -->

        </fieldset>
    </form>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="closeModal()">Cancel</button>
    <button class="btn btn-success" type="button" ng-click="saveAttributes(cardAttributes)">Save</button>
</div>
