<div class="p-5 plaform-edit">
    <div class="row">
        <h1 ng-if="context === 'update'">Update :: {{ platform._source.name }}</h1>
        <h1 ng-if="context === 'create'">Add Platform</h1>
    </div>
    <div class="row">
        <form class="edit-form" name="platformForm">
            <div class="row scrapping-container">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="ex. https://www.flexcrowd.org" ng-model="platform._source.platform_website">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success pull-right" ng-click="extract(platform._source.platform_website)">Scrap from the web</button>
                </div>
                <div class="row scrapped-data" ng-show="showScrapData">
                    <dl>
                        <dt>Title</dt>
                        <dd>{{ scrapData._source.title }}</dd>
                        <dt>Description</dt>
                        <dd>{{ scrapData._source.description }}</dd>
                        <dt>Image URL</dt>
                        <dd>{{ scrapData._source.platform_img_url }}</dd>
                        <dt>Text</dt>
                        <dd>{{ scrapData._source.text }}</dd>
                        <dt>Keywords</dt>
                        <dd>{{ scrapData._source.keywords }}</dd>
                        <dt>Generated Keywords</dt>
                        <dd ng-bind-html="scrapData._source.generated_keywords"></dd>
                        <dt>Tags</dt>
                        <dd>{{ scrapData._source.tags }}</dd>
                        <dt>Raw data</dt>
                        <dd ng-bind-html="scrapData._source.raw_data"></dd>
                    </dl>
                </div>
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Platform detail</legend>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="platform-img" upload-image>
                            <div class="img-container">
                                <img ng-src="{{ assetUrl }}{{ platform._source.platform_img_url }}">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" ng-model="platform._id">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" ng-model="platform._source.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" ng-model="platform._source.description" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" class="form-control" ng-model="platform._source.platform_website">
                        </div>
                        <div class="row">
                            <div class="form-group col col-md-3">
                                <label>Cluster</label>
                                <select class="form-control" name="cluster" ng-model="platform._source.cluster">
                                    <option>--</option>
                                    <option value="1">(1) Sharing authentic experiences</option>
                                    <option value="2">(2) Relationship building through user generated content</option>
                                    <option value="3">(3) Curating ideas and features</option>
                                    <option value="4">(4) Problem solving</option>
                                    <option value="5">(5) Ad hoc temporary hiring</option>
                                    <option value="6">(6) Sourcing specific digital goods</option>
                                </select>
                            </div>
                            <div class="form-group col col-md-3">
                                <label>Inactif</label>
                                <select class="form-control" name="inactif" ng-model="platform._source.inactif">
                                	<option>--</option>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                            <div class="form-group col col-md-3">
                                <label>Non-pertinent</label>
                                <select class="form-control" name="non_pertinent" ng-model="platform._source.non_pertinent">
                                	<option>--</option>
                                    <option value="true">True</option>
                                    <option value="false">False</option>
                                </select>
                            </div>
                            <div class="form-group col col-md-3">
                                <label>Status</label>
                                <select class="form-control" name="status" ng-model="platform._source.status">
                                    <option>--</option>
                                    <option value="unfound">Unfound</option>
                                    <option value="different_name">Different Name</option>
                                    <option value="ok">OK</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Process -->
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Crowdsourcing Process Caracteristics</legend>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Aggregation of Contributions Type</label>
                        <select class="form-control" name="process" ng-model="platform._source.attributes.process.aggregation_of_contributions">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.process[0]._source.aggregation_of_contributions" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Peer Contributions Accessibility Type</label>
                        <select class="form-control" name="process" ng-model="platform._source.attributes.process.peer_contributions_accessibility">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.process[3]._source.peer_contributions_accessibility" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Remuneration for contributions Type</label>
                        <select class="form-control" name="process" ng-model="platform._source.attributes.process.remuneration_for_contributions">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.process[2]._source.remuneration_for_contributions" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Preselection of Contributors Type</label>
                        <select class="form-control" name="process" ng-model="platform._source.attributes.process.preselection_of_contributors">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.process[1]._source.preselection_of_contributors" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Form of remuneration</label>
                        <select class="form-control" name="process" ng-model="platform._source.attributes.process.form_of_remuneration">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.process[4]._source.form_of_remuneration" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <!-- END::process -->

            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Goals | Tasks | Crowd</legend>
                <!-- Goals -->
                <div class="row">
                	<h2>Goals</h2>
                    <div class="form-group col-md-6">
                        <label>Main beneficiary</label>
                        <select class="form-control" name="goal" ng-model="platform._source.attributes.goal.main_beneficiary">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.goal[1]._source.main_beneficiary" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Value type</label>
                        <select class="form-control" name="goal" ng-model="platform._source.attributes.goal.value_type">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.goal[2]._source.value_type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tolerance of inputs</label>
                        <select class="form-control" name="goal" ng-model="platform._source.attributes.goal.input_tolerance">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.goal[0]._source.input_tolerance" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                </div>
                <!-- END::Goals -->
                <hr>
                <!-- Tasks -->
                <div class="row">
                	<h2>Tasks</h2>
                	<div class="form-group col-md-6">
                        <label>Task Type</label>
                        <select class="form-control" name="task" ng-model="platform._source.attributes.task.type">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.task[1]._source.type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Task Dependency</label>
                        <select class="form-control" name="task" ng-model="platform._source.attributes.task.dependencies">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.task[3]._source.dependencies" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <!-- Other attributes -->
                    <div class="form-group col-md-6">
                        <label>Task Novelty</label>
                        <select class="form-control" name="task" ng-model="platform._source.attributes.task.novelty">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.task[0]._source.novelty" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Task Effectiveness</label>
                        <select class="form-control" name="task" ng-model="platform._source.attributes.task.effectiveness">
                            <option>--</option>
                            <option ng-repeat="attribute in attributes.task[2]._source.effectiveness" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <!-- END::Other attributes -->
                </div>
                <!-- END::Tasks -->
                <hr>
                <!-- Crowd -->
                <div class="row">
                	<h2>Crowd</h2>
                    <div class="form-group col-md-6">
                        <label>Contribution Type</label>
                        <select class="form-control" name="crowd" ng-model="platform._source.attributes.crowd.contribution_type">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.crowd[0]._source.contribution_type" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Main motivational Driver</label>
                        <select class="form-control" name="crowd" ng-model="platform._source.attributes.crowd.main_motivational_driver">
                        	<option>--</option>
                            <option ng-repeat="attribute in attributes.crowd[1]._source.main_motivational_driver" value="{{ attribute.id }}">{{ attribute.description }}</option>
                        </select>
                    </div>
                </div>
                <!-- END::Crowd -->

            </fieldset>
            <button type="submit" class="btn btn-success pull-right" ng-click="update(platform, platform._source.attributes)" ng-if="context === 'update'">Save</button>
            <button type="submit" class="btn btn-success pull-right" ng-click="save(platform, platform._source.attributes)" ng-if="context === 'create'">Add platform</button>
        </form>
    </div>
</div>